html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*PIE DE PAGINA*/
h4{
    font-size: 30px;
}
#footer{

	font-size: 20;
    color: white;
}
.container_footer{
	background-color: rgb(54, 60, 139);


}
#footer ul li{
    list-style:none;
  
}

.logo_footer{
    display:flex;
    justify-content: space-between;
    padding:0 15rem;
    color:rgb(29, 32, 165);
    margin-right:0 auto;
    max-width: 1200px;
}
.logo_footer ul{
    display:flex;
    flex-wrap:wrap;
}

.logo_footer li{
    padding-right:4rem;
}
